<div class='holo-content'>
    <div class='hflex'>
        <div class='flex-item' style='flex: 1 200px'>
            <h2 class='vibrant'>About PhoneIoT</h2>
            <p>The PhoneIoT app allows you to access your mobile device's sensors from the NetsBlox platform, a block-based programming environment.</p>
        </div>
        <div class='flex-item center'>
            <h2 class='vibrant'>Affiliations</h2>
            <a href='https://www.vanderbilt.edu/'><img src='assets/images/vandy-banner.jpeg' width='350px' class='rounded iblock padded'></a><br>
        </div>
    </div>

    <p class='center'>Copyright 2020-2021 Vanderbilt University</p>
</div>

<div class='bottom-bar'></div>